@font-face {
  font-family: AirBnb;
  src: url('./assets/font/AirbnbCereal_W_Lt.otf');
}
@font-face {
  font-family: AirBnbBold;
  src: url('./assets/font/AirbnbCereal_W_Bd.otf');
}

body {
  font-family: AirBnb !important;
  font-size: 0.9rem;
}

.fw-bold {
  font-family: AirBnbBold;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.authButton {
  background-color: #ff385c;
  border-color: #ff385c;
}
