@font-face {
  font-family: AirBnb;
  src: url('./assets/font/AirbnbCereal_W_Lt.otf');
}
@font-face {
  font-family: AirBnbBold;
  src: url('./assets/font/AirbnbCereal_W_Bd.otf');
}

body {
  font-family: AirBnb !important;
}
